{% extends "base.html" %} 
{% block title %}About{% endblock title %}
{% block body %}
<div class="d-flex justify-content-center">
    <h1>About</h1>
</div>
<hr>
<div class="text-center">
    <h4>Welcome to Todo!</h4><br>
    <p>Todo is your ultimate productivity companion, designed to help you organize, prioritize,<br>
        and manage your tasks effortlessly. Whether you're planning your day, managing projects,<br>
        or tracking personal goals, our app makes it simple and effective to stay on top of your to-dos.
    </p>
</div>
<div class="text-center">
<h4>Our mission </h4>
<p>Our mission is to empower individuals and teams to achieve their goals by providing a tool that simplifies task management.<br>
     We believe in making productivity accessible, efficient, and even enjoyable.</p>
</div>
<div class="text-center mt-5">
    <h3>Devloped By</h3>
    <span>Virank Rana</span>
</div>
{% endblock body %}

